jy-payment/payment-web/src/main/resources/yxws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://125.65.86.27:28080/gxws/services/yxws"
	xmlns:impl="http://125.65.86.27:28080/gxws/services/yxws" xmlns:intf="http://125.65.86.27:28080/gxws/services/yxws"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->

	<wsdl:message name="interfaceYxmisMxdlYsdRequest">

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfacePayTransResponse">

		<wsdl:part name="interfacePayTransReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserFilesResponse">

		<wsdl:part name="interfaceQueryUserFilesReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceReconciliationResponse">

		<wsdl:part name="interfaceReconciliationReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceRollbackMoneyRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="FlowNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="OperatorId" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="backReason" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserResponse">

		<wsdl:part name="interfaceQueryUserReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserChargeResponse">

		<wsdl:part name="interfaceQueryUserChargeReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getretInfoRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="FlowNo" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceReconciliationRequest">

		<wsdl:part name="DateTime" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="FactoryType" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfacePayTransRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="FlowNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="OperatorId" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="ShouldMoney" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="Paydate" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="ChargeMode" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="PayType" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getretInfoIRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

		<wsdl:part name="FlowNo" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceYxmisMxdlYsdResponse">

		<wsdl:part name="interfaceYxmisMxdlYsdReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceRollbackMoneyResponse">

		<wsdl:part name="interfaceRollbackMoneyReturn" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserChargeRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getretInfoIResponse">

		<wsdl:part name="getretInfoIReturn" type="xsd:int">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="interfaceQueryUserFilesRequest">

		<wsdl:part name="UserNo" type="xsd:string">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getretInfoResponse">

		<wsdl:part name="getretInfoReturn" type="xsd:int">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="WsServiceServlet">

		<wsdl:operation name="interfaceYxmisMxdlYsd">

			<wsdl:input name="interfaceYxmisMxdlYsdRequest" message="impl:interfaceYxmisMxdlYsdRequest">

			</wsdl:input>

			<wsdl:output name="interfaceYxmisMxdlYsdResponse"
				message="impl:interfaceYxmisMxdlYsdResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfacePayTrans"
			parameterOrder="UserNo FlowNo OperatorId ShouldMoney Paydate ChargeMode PayType">

			<wsdl:input name="interfacePayTransRequest" message="impl:interfacePayTransRequest">

			</wsdl:input>

			<wsdl:output name="interfacePayTransResponse" message="impl:interfacePayTransResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getretInfo" parameterOrder="UserNo FlowNo">

			<wsdl:input name="getretInfoRequest" message="impl:getretInfoRequest">

			</wsdl:input>

			<wsdl:output name="getretInfoResponse" message="impl:getretInfoResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceRollbackMoney"
			parameterOrder="UserNo FlowNo OperatorId backReason">

			<wsdl:input name="interfaceRollbackMoneyRequest" message="impl:interfaceRollbackMoneyRequest">

			</wsdl:input>

			<wsdl:output name="interfaceRollbackMoneyResponse"
				message="impl:interfaceRollbackMoneyResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getretInfoI" parameterOrder="UserNo FlowNo">

			<wsdl:input name="getretInfoIRequest" message="impl:getretInfoIRequest">

			</wsdl:input>

			<wsdl:output name="getretInfoIResponse" message="impl:getretInfoIResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUser"
			parameterOrder="UserNo">

			<wsdl:input name="interfaceQueryUserRequest" message="impl:interfaceQueryUserRequest">

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserResponse" message="impl:interfaceQueryUserResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceReconciliation"
			parameterOrder="DateTime FactoryType">

			<wsdl:input name="interfaceReconciliationRequest" message="impl:interfaceReconciliationRequest">

			</wsdl:input>

			<wsdl:output name="interfaceReconciliationResponse"
				message="impl:interfaceReconciliationResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUserCharge"
			parameterOrder="UserNo">

			<wsdl:input name="interfaceQueryUserChargeRequest"
				message="impl:interfaceQueryUserChargeRequest">

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserChargeResponse"
				message="impl:interfaceQueryUserChargeResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUserFiles"
			parameterOrder="UserNo">

			<wsdl:input name="interfaceQueryUserFilesRequest" message="impl:interfaceQueryUserFilesRequest">

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserFilesResponse"
				message="impl:interfaceQueryUserFilesResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="yxwsSoapBinding" type="impl:WsServiceServlet">

		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="interfaceYxmisMxdlYsd">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceYxmisMxdlYsdRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfaceYxmisMxdlYsdResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfacePayTrans">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfacePayTransRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfacePayTransResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getretInfo">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="getretInfoRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="getretInfoResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceRollbackMoney">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceRollbackMoneyRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfaceRollbackMoneyResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getretInfoI">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="getretInfoIRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="getretInfoIResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUser">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceQueryUserRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceReconciliation">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceReconciliationRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfaceReconciliationResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUserCharge">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceQueryUserChargeRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserChargeResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="interfaceQueryUserFiles">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="interfaceQueryUserFilesRequest">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.highsoft" />

			</wsdl:input>

			<wsdl:output name="interfaceQueryUserFilesResponse">

				<wsdlsoap:body use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://125.65.86.27:28080/gxws/services/yxws" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="WsServiceServletService">

		<wsdl:port name="yxws" binding="impl:yxwsSoapBinding">

			<wsdlsoap:address location="http://125.65.86.27:28080/gxws/services/yxws" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
